<div class="mainContainer">
    <div class="leftDiv">
        <div class="captionBox">
            <p class="caption">FIRST TIME AI DRIVEN PERSONAL ASSISTANT</p>
            <p class="caption1">FOR TASK MANAGEMENT</p>
        </div>
    </div>
    <div class="rightDiv">
        <div class="buttonMain">
            <a class="button" (click)="goRegistration()">Sign Up</a>
        </div>
        <div class="loginMain">
            <img src="././image/logo.png" width="50%">
            <br>
            <div class="login">
                <h3 class="loginIn1">Welcome to ezTask</h3>
                <p class="loginIn2">Collaboration at your fingertips</p>
            </div>
            <form>
                <div>
                    <input type="text" placeholder="Username" class="text-line">
                </div>
                <div>
                    <input type="text" placeholder="Password" class="text-line">
                </div>
                <div>
                    <a class="button-1">Login</a><br>
                    <a style="color: #ff9a37;font-size: 0.8em;">Forget Password</a>
                </div>
            </form>
        </div>
    </div>
</div>